
#about {
    background: #f8f9fa;
    padding-bottom: 50px;
    padding-top: 50px;
}
.about-us {}
.about-title {
    font-size: 33px;
    font-weight: 500;
    margin-top: 8%;
}
.about-us ul {
    margin-left: 20px;
}
.about-us ul li {
    margin: 10px 0;
    font-size: 14px;
    letter-spacing: 0.4px;
}